/*csslint order-alphabetical: false*/

/* CSSLint */

.fo-menu {
    background-color: aqua;
    height: 80px;
}

.menupont {
    height: 40px;
    /* körbe mindenhol 10px a magrin */
    /* margin: 10px; */

    /* a következő három sort rövidítve is lehet írni */
    /* margin-left: 10px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */

    /* az előző három sor rövidítve így néz ki:  */
    margin: 10px 0 10px 10px;  /* fölül, jobbra, alul, balra */

    background-color: blue;
    color: white;
    display: inline-block;


    /* padding-top: 22px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* padding-bottom: 0; */

    /* az előző három sor rövidítve így néz ki:  */
    padding: 22px 10px 0 10px; /* fölül, jobbra, alul, balra */
}

.tartalom {
    background-color: lightgrey;
    height: 1000px;  /*ez csak azért kell hogy a scrollbar megjelenjen */
    
    /* bizonoyos css property-ket nem ajánlott használni, mert nem minden böngésző */
    /* ismeri. Ezt a caniuse.com weboldalon ellenőrizhetjük */
    /* https://caniuse.com/#search=zoom */
    /* pl zoom nem működik firefoxban!!! */
    /* zoom: 0.1; */

}

/* #learnabout box-modell https://www.w3schools.com/css/css_boxmodel.asp */
